//this is for all my custom css 
html{
    font-size: 65.5%;
}
a{
    background: transparent;
    text-decoration: none;
    color: $color-primary
}
a:hover{
    text-decoration: underline;
    color: $blue;
}
body{
    color: #606c76;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
}
.navbar-main{
    background: #f4f5f6;
    border-bottom: .1rem solid $color-primary;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 3.3rem;
}

.nav-list{
    list-style: none;
    float: right;
    margin-bottom: 0;
    margin-top: 0;
}
.nav-list-item{
    float: left;
    margin-bottom: 0;
    margin-left: 2.5rem;
    position: relative;
}

.list-item-link{
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
    color: $color-primary;
}

//container
.container{
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    width: 100%;
    max-width: 50%;
}

.container .navbar-main{
    padding-bottom: 0;
    padding-top: 0;
}

.company-title{
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}

.octocat {
    border: 0;
    color: #f4f5f6;
    fill: #9b4dca;
    height: 5.2rem;
    position: fixed;
    right: 0;
    top: 0;
    width: 5.2rem;
    z-index: 1;
}

.octocat .octocat-arm, .octocat .octocat-body {
    fill: #f4f5f6;
}

.content{
    margin-top: 10rem;
}

#search{
    width: 100%;
    height: 56px;
    background: #fff;
    font-size: 3.3rem;
    padding-left: 20px;
    padding-right: 90px;
    box-shadow: none;
    color: #111;
    border: 1px solid $color-primary;
    border-radius: 5px;
    text-align: center
}

.main{
    margin-top: 4rem;
    display: block;
    width: 100%;
}
.process{
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.process-image{
    width: 30%;
    margin-right: 4rem;
}
.process-body{
    width: 70%;
}
button{
    display: block;
}
img{
    max-height: 100%;
    max-width: 100%;
}
.user{
    font-size: 1.5rem;
    font-style: italic;
    float:right;
    color: #898888
        
        
}