
// Body
$body-bg: #f4f5f6;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1.5rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$color-primary:#9b4dca;
$color-dark:#000;
$color-mid-dark:#606c76;
$color-edit:#FF9800;
$color-delete:#F44336;
